#root {
  display: flex;
  width: 100vw;   
  height: 100vh;   
  margin: 0;    
  padding: 0;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

h1{
  font-size: 70px;
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 7px; 
}

::-webkit-scrollbar-thumb {
  background-color: #4f0055; 
  border-radius: 6px;
  border: 3px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #151515;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}